<%- include("partials/header"); -%>

    <h1>Admin Panel</h1>
    <ul>
        <li><a href="/compose">Create New Post</a></li>
        <li><a href="/edit">Edit Existing Posts</a></li>
        <li><a href="/delete">Delete Posts</a></li>
    </ul>

    <%- include("partials/footer"); -%>