<!DOCTYPE html>
<html>

<head>
    <title>Altech</title>
</head>

<body>
    <h1>Subscribe to our blog</h1>
    <p>Have an account? <a href="/login">Login</a></p>

    <form action="/register" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
</body>

</html>